<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav-content>-->
<mat-toolbar color="primary">
      <span>
        <mat-slide-toggle (change)="onDarkModeSwitched($event)">Dark Mode</mat-slide-toggle></span>
</mat-toolbar>
<mat-card>

  <mat-form-field>
    <mat-label>Select Value</mat-label>
    <mat-select>
      <mat-option [value]="1">Value 1</mat-option>
      <mat-option [value]="2">Value 2</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
